{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<body class="bg-gray-200">
<div class="space-y-16">
<h1 class="text-2xl flex justify-center mt-8">Add Project</h1>
<div class="flex items-center justify-center">

 <form method="POST" autocomplete="off" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 container mx-auto">
            {% csrf_token %}
            {{form.name|as_crispy_field}}
            <br> <br>
            {{form.type|as_crispy_field}}
            <br> <br>
        <input class="btn btn-primary active" type="submit" value="submit"/>
        </form>

</div>
</div>
</body>
{% endblock %}