{% extends 'app/base.html' %}
{% block content %}
<h1 class="flex justify-center">Employee List</h1>
<table class="h-screen flex justify-center">
  <tr>
    <th class="border-4 px-8 py-4">First Name</th>
    <th class="border-4 px-8 py-4">Last Name</th>
    <th class="border-4 px-8 py-4">E-mail</th>
      <th class="border-4 px-8 py-4">Department</th>
  </tr>
    {% for i in employees %}
  <tr>
    <td class="border-4 px-8 py-4">{{ i.first_name}}</td>
    <td class="border-4 px-8 py-4">{{ i.last_name }}</td>
    <td class="border-4 px-8 py-4">{{ i.email }}</td>
      <td class="border-4 px-8 py-4">{{ i.department }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}